.body-contain{
    background: var(--bg-light-1);
    /* background: red; */
    height: calc(100vh - 35px);
    /* overflow: hidden; */
}
.sidebar{
    background: var(--bg-dark-1);
    height: calc(100vh - 35px);
    width: 200px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    overflow-y: scroll;
    color: var(--text-light);
}
.sidebar-min{
    width: 80px;
}

.sidebar .line{
    display: block;
    padding: 5px 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    transition: background 0.4s, color 0.4s;
    display: flex;
    justify-content: space-between;
}
.line a{
    color: var(--text-light);
}
.line a:first-child{
    /* color: red; */
    width: 100%;
}
.line a:first-child:hover{
    text-decoration: underline;
}
.active a:first-child{
    text-decoration: underline;
}
.sidebar>ul>li>a{
    display: block;
    color: var(--text-light);
    font-size: 16px;
    transition: background 0.4s, color 0.4s;
}
.sidebar ul>li>a:hover{
    background: var(--bg-light-2);
}
.wrap-child>ul>li>a{
    padding: 5px 10px 5px 20px;
}
.wrap-child>ul>li>a{
    display: block;
    color: var(--text-light);
    font-size: 15px;
    transition: background 0.4s, color 0.4s;
}
.wrap-child>ul>li>a::before{
    content: "+ ";
}
.arrow-down{
    width: 16px;
    object-fit: contain;
}
.wrap-arrow{
    /* padding: 5px 10px; */
    padding: 0px 10px;
}
.wrap-arrow:hover{
    background: var(--bg-light-2);
}
.main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.status-bar{
    padding: 3px 10px;
    /* background: var(--bg-dark-1); */
    display: block;
    width: 100%;
}
.status-bar>ul{
    display: block;
    list-style-type: none;
    display: flex;
    margin: 0;
}
.status-bar>ul>li{
    display: block;
    margin-right: 3px;
}
.status-bar>ul>li>a{
    color: var(--text-dark);
    font-size: 15px;
    /* color: var(--text-light); */
}
.status-bar>ul>li>a::after{
    content: "/";
}
.status-bar>ul>li>a:hover{
    text-decoration: underline;
}

/* ================================================ */
/* ================================================ */
.wrap-form{
    margin: 12px 0px;
    padding: 12px 0px;
}
.bg-wrap-form{
    background: var(--bg-light);
    border: 1px solid #ebecf0;
    margin: 12px 0px;
    padding: 12px 12px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
.list-row>ul{
    display: flex;
    margin: 0;
    margin-bottom: 5px;
}
.list-row>ul>li{
    display: block;
    color: var(--text-dark);
    position: relative;
    text-align: center;
}
.list-row>ul>li>a{
    color: var(--text-dark);
    
}
.list-row>ul>li:nth-child(1),
.list-row>ul>li:nth-child(2){
    width: 10%;
}

.list-row>ul>li:nth-child(3),
.list-row>ul>li:nth-child(5),
.list-row>ul>li:nth-child(6){
    width: 20%;
}
.list-row>ul>li:nth-child(4){
    width: 20%;
}
.list-row .wrap-child{
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
}
.list-row .wrap-child>ul{
    background-color: var(--bg-light);
    border: 1px solid #ebecf0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
.list-row .wrap-child>ul>li>a{
    color: var(--text-dark);
    transition: background 0.4s;
}
.list-row .wrap-child>ul>li>a:hover{
    background: #dedede;
}
.list-row>.title-row{
    margin-bottom: 8px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 8px;
}
.filter-btn-list>ul{
    display: flex;
    margin: 0;
}
.filter-btn-list>ul>li{
    position: relative;
    display: block;
}
.filter-btn-list .fill-btn{
    background-color: var(--bg-light);
    border: 1px solid #ebecf0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    color: var(--text-dark);
    margin-right: 16px;
    padding: 8px 8px;
    transition: box-shadow 0.4s;
}
.filter-btn-list .fill-btn:hover{
    /* background: #dedede; */
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
}
.filter-btn-list .wrap-child{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    width: calc(100% - 16px);
    border: 1px solid #ebecf0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
.filter-btn-list a{
    background-color: var(--bg-light);
    color: var(--text-dark)!important;
}
.filter-btn-list .wrap-child>ul>li>a:hover{
    background: #dedede;
}


.tag-content>ul>li:nth-child(1){
    width: 10%;
}
.tag-content>ul>li:nth-child(2){
    width: 20%;
}
.tag-content>ul>li:nth-child(3){
    width: 20%;
}
.tag-content>ul>li:nth-child(4){
    width: 20%;
}
.tag-content>ul>li:nth-child(5){
    width: 20%;
}
.tag-content>ul>li:nth-child(6){
    width: 10%;
}